*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0

body
  background-color: #596275
  animation: bgcolor 6s infinite ease-in-out

  @keyframes bgcolor
    0%
      background-color: #596275
    30%
      background-color: #4d4d65
    60%
      background-color: #263228
    100%
      background-color: #596275
